html {
	background-color: #EDF2C5;
    box-sizing: border-box;

}

h1 {
    font-family: Arial Black;
    font-size: 42px;
    color: #778A50;
    margin-top: 53px;
    margin-bottom: 8px;
}

body {
}


footer {
    background-color: #778A50;
    color: #EDF2C5;
    font-family: ArialMT Regular;
    font-size: 12px;
    padding: 24px 614px;
    margin-top: 35px;
    width: 300px;
    margin-right: auto;
    margin-left: -300px;
}

.container {
    max-width: 940px;
    height: 880px;
    margin-right: auto;
    margin-left: auto;
}

.upper {
    display: flex;

}

.icon {
    box-sizing: border-box;
    display: flex;
    float: right;
    width: 200px;
    height: 25px;
    margin-left: 468px;
    margin-bottom: 17px;
    margin-top: 61px;
    position: relative;
    top: 15px;
}


.facebook, .instagram {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.instagram {
    padding-right: 10px;
    border-right: 1px solid #778A50;
}

.LOGIN {
    font-family: Arial Black;
    font-size: 14px;
    color: #778A50;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #778A50;
    height: 25px;
    padding-right: 5px;
    padding-left: 5px; 
    text-align: center;
    line-height: 25px;
}

.JOIN {
    font-family: Arial Black;
    font-size: 14px;
    color: #778A50;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #778A50;
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    padding-right: 5px;
    padding-left: 5px;
}

.nav-list {
    width: 940px;
    height: 44px;
  	background-color: #778A50;
    display: flex;
    box-sizing: border-box;
    margin-top: 0;
}

.nav-list-item {
	color: #EDF2C5;
	font-size: 16px;
	font-family: Arial Black;
    list-style: none;
    margin-right: 30px;
    margin-left: 30px;
    line-height: 44px;
}

.home {
    margin-left: -10px;
    font-size: 16px;
    font-family: Arial Black;
    color: #EDF2C5;
    list-style: none;
    line-height: 44px;
    margin-right: 30px;
}

.pumpkin {
    width: 940px;
    height: 448px;
    margin-top: 20px;
}

.left-nav {
    width: 445px;
    height: 45px;
    background-color: #778A50;
    display: flex;
    box-sizing: border-box;
}

.vegetables {
    color: #EDF2C5;
    font-size: 16px;
    font-family: Arial Black;
    list-style: none;
    margin-right: 30px;
    margin-left: 30px;
    line-height: 45px;
}

.pepper, .carrot, .corn {
    width: 139px;
    height: 139px;
    margin-top: 15px;
}

.carrot {
    margin-right: 11px;
    margin-left: 11px;
}

.right-nav {
    width: 445px;
    height: 45px;
    background-color: #778A50;
    display: flex;
    box-sizing: border-box;
    margin-right: 0;
}

.contact {
    color: #EDF2C5;
    font-size: 16px;
    font-family: Arial Black;
    list-style: none;
    margin-right: 30px;
    margin-left: 30px;
    line-height: 44px;
}

.p1 {
    border-bottom: 1px solid #7D7D7D;
    padding-bottom: 16px;
}

.p2 {
    padding-top: 16px;
}

.p3 {
    line-height: 22px;
}

.p-all {
    color: #7D7D7D;
    font-size: 12px;
    font-family: ArialMT Regular;
    list-style: none;
    background-color: #F7FBDA;
    margin-top: 15px;
    padding: 16px 15px;
}

.right-p {
    width: 445px;
    height: 200px;
    float: right;
}

.left-p {
    width: 447px;
    box-sizing: content-box;
    display: inline-block;
}

.all-p {
    margin-top: 30px;
    width: 940px;
    height: 200px;
}